
<table>
    <tbody>
        @for (var row = 0; row < Grid.Length; row++)
        {
            <tr>
                @for (var column = 0; column < Grid[row].Length; column++)
                {
                    var (y, x) = (row, column);

                    <td class=@(Grid[y][x] ? "alive" : "")
                        @onclick="() => OnCellClick(y, x)"></td>
                }
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public bool[][] InitialGrid { get; set; }

    protected override void OnInitialized()
    {
        Grid = InitialGrid;
    }

    private void OnCellClick(int row, int column) =>
        Grid[row][column] = !Grid[row][column];

    private bool[][] Grid { get; set; }
}
