
@page

@using Conway.Blazor

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>Conway-Blazor</title>
    <link rel="stylesheet" type="text/css"  href="~/css/Grid.css" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
</body>
</html>